# Compiled binary
/gomodel
/recordapi
/bin

# Environment variables
/.env
/.venv/

# User config (created from config/config.example.yaml)
/config/config.yaml

# Cache
/.cache
/tests/integration/.cache/*
!/tests/integration/.cache/.gitkeep

# Data (runtime-created by SQLite storage)
/data/

# Helm chart dependencies
**/charts/*.tgz

# OpenCode config - ignore because it might contain private servers URLs
/opencode.json

# Local git worktrees
/.worktrees/

# Others
/*.bck.yml
/repomix-output.*
/coverage.out
/.claude/
